.dashboard{
    background-color: #262A41;
    color: #fff;
    overflow: hidden;
    /* height: 80%; */
}

.dashboard-row{
    min-height: 660px;
}

.dashboard-home{
    margin-top: 60px;
    padding-top: 150px;
 } 

 .header-title{
     font-size: 25px;
     font-weight: 100;
    margin-left: 73px;
 }
 
 .span{
    font-family: 'IBM Plex Sans', sans-serif;
 }

 .dashboard-p{
     color: #747698;
     font-size: 12px;
     margin-left: 73px;
 }

.searchbutton{
    width: 200px;
    height: 50px;
    background-color: #3C3F54;
    color: #747698;;
    opacity: 0.8;
    margin-left: 87px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
   
}

.show-user{
    margin-left: 73px;
}

/* width: 50vw;
    height: 94vh;
    padding: 50px;
    background-color: #F7F7FF;
    margin-top: 10px;
    background-color: #F7F7FF;
    color:black;
    border-radius: 10px; */